- unless flash.blank?
  #flashes
    - flash.each do |key, value|
      .flash{:title => key.to_s.humanize, :class => "alert alert-#{key}" }
        %a.close{:href => '#', :data => {:dismiss => "alert"} } x
        = value.html_safe