%header.application
  .inner-header-application
    %h1.brand-application= link_to "Application", '#'
    
    %nav.application
      %ul
        %li.nav-active= link_to 'Active', "#"
        %li= link_to 'Second', "#"